ACTION=="add", SUBSYSTEMS=="input", KERNEL=="event*", ATTRS{id/vendor}=="1a86", ATTRS{id/product}=="e5e3", RUN="systemctl start fixtouch@$kernel.service'"
