ACTION=="add", SUBSYSTEMS=="input", KERNEL=="event*", ATTRS{id/vendor}=="1a86", ATTRS{id/product}=="e5e3", RUN="/usr/bin/systemctl restart fixtouch@$kernel.service'"
